<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tutorial</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="icon" type="image/png" href="./assets/img/Momento-01 (1).png">

  <!-- CSS -->
  <link href="assets/css/products.css" rel="stylesheet">
  <meta name="robots" content="noindex,follow" />
  <script src="assets/js/scroll.js" type="text/javascript"></script>
</head>


<div class="back-button">
  <a href="/home" class="back-link">
    <span class="back-icon">←</span>
  </a>
</div>

<body>
  <h7 id="scrollto" style="visibility: collapse;">
    <%= destination%>
  </h7>
  <% products.forEach(function(product) { %>
    <section class="container <%= product.color %>" id="<%= product.section_name %>">

      <!-- Left Column / Headphones Image -->
      <div class="left-column">
        <img src="<%= product.product_image_path %>">
      </div>

      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">

          <span>
            <%= product.section_name %>
          </span>
          <% product.name=product.name.replace(/<br>/g, '\n');%>
            <% console.log(product.name)%>
              <h1>
                <%= product.name%>
              </h1>
              <p>
                <%= product.description %>
              </p>
        </div>


        <!-- Product Configuration -->


        <!-- Product Pricing -->
        <div class="product-price">
          <a href="/home_supporters" class="cart-btn">Where to Buy</a>
        </div>
      </div>

    </section>
    <% }); %>
</body>

</html>